// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


    pre {
        border-radius: 15px;
        padding: 15px;
        border: var(--page-color) solid 2px;
    }


.link {
    a {
        margin: auto 0;
        text-decoration: underline;
    }
    color: blue;
    font-size: 17px;
}

.btn.btn-primary.me-3{
    background: white;

}
.btn.btn-primary.me-3 a{
    color:black;
    text-decoration: none;
}
.btn.btn-primary.me-3:hover{
    background: #a0c3ee;
}
.btn.btn-primary.me-3 a:hover{
    color:white;
}
.btn.btn-primary.me-3.login a{
    color:black;

    text-decoration: none;
}
.btn.btn-primary.me-3.login{
    background: #0d6efd;
}
.btn.btn-primary.me-3.login:hover{
    background: #a0c3ee;

}
.btn.btn-primary.me-3.login a:hover{
    color:white;
}

.contact img{
    width: 60%;
    margin-bottom: 10px;
}

.page-list h4 {
    border: var(--page-color) solid 2px;
    padding: 10px;
    border-radius: 10px;
}

.pages-text {
    margin-top: 50px;
}

.category {
    width: 100%;
    border: #1a202c solid 2px;
    border-radius: 10px;
    margin: 10px;
     * {
         display: inline-block;
     }

    .edit {
        background-color: orange;
        color: white;
        &:hover {
            background-color: #d78c00;
        }
    }

    .delete {
        background-color: red;
        color: white;

        &:hover {
            background-color: #d90000;
        }
    }

    a {
        transition: background-color .2s;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 15px;
        float: right;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;


    }

    h4 {
        margin-left: 20px;
    }

}



.container h2 a{
    font-family: 'Londrina Solid', cursive;
    font-size: 35px;
}

button a{
    color:white;
}
button.dropbtn{
    border:1px solid #0d6efd;
    background: white;
    border-radius: 5px;

}
h2 a.navbar-brand.me-2 img{
    width: 30%;
    margin-right: 142px;

}
.dropbtn{
    background: #f2f2f2;
    color:black;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    margin-left: 10px;
    margin-right: 30px;

}
.dropbtn:hover, .dropbtn:focus{
    background: #a0c3ee;
}
.MydropDown{
    position: relative;
    display: inline-block;

}
.dropDown-content{
    display: none;
    position: absolute;

    background: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    margin-left: 10px;

}

.dropDown-content a{
color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {display:block;}

.form-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.form-container .editor-data {
    display: none;
}
.form-container .form-group {
    width: 49%;
    margin-bottom: 10px;
}
.form-container .form-group label {
    font-size: 16px;
}
.form-container .form-group .form-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
}
.form-container .form-group .form-textarea {
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form-container .form-inline {
    display: flex;
    justify-content: space-between;
}
.form-container .full-width {
    width: 100%;
}
.form-container .form-color {
    width: 100px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    height: 30px;
}
.form-container .form-btn {
    width: 100%;
    background-color: #2a4eff;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #244aff;
    border-radius: 5px;
    transition: all 200ms linear;
    color: white;
}
.form-container .form-btn:hover {
    cursor: pointer;
    background-color: #4161ff;
}

body {
    font-family: "Nunito", sans-serif;
}

.header-right-align{
    display: flex;
    justify-content: end;
}

.wrapper {
    width: 960px;
    margin: 30px auto 50px auto;
}

.header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    background: #f2f2f2;
    box-shadow: 10px 24px 50px -19px rgba(161, 161, 161, 0.5);
}

.header h2 {
    font-weight: bold;
    margin: 10px 0;
}

.header h2 a {
    transition: 0.2s color;
}

.header h2 a:hover {
    color: grey;
}

.header a {
    margin-top: 30px;
}

.gridwrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
}

.footer {
    z-index: 1;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: black;
    text-align: center;
    border-top: 2px solid black;
    background: #f2f2f2;
    height: 48px;
    margin-top: 5px;
}

.footer p {
    margin-top: 15px;
}

.page h1 {
    border-bottom: var(--page-color) 2px solid;
}

.page-content h2 {
    border-bottom: var(--page-color) 1px solid;
}
.page-content a {
    color: var(--page-color);
    text-decoration: underline;
    text-underline: var(--page-color);
    text-underline-offset: 2px;
}
.page-content pre {
    border-radius: 15px;
    padding: 15px;
    border: var(--page-color) solid 2px;
}

.link {
    color: blue;
    font-size: 17px;
}
.link a {
    margin: auto 0;
    text-decoration: underline;
}

.page-list h4 {
    border: var(--page-color) solid 2px;
    padding: 10px;
    border-radius: 10px;
}

.pages-text {
    margin-top: 50px;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category {
    width: 100%;
    border: #1a202c solid 2px;
    border-radius: 10px;
    margin: 10px;
}
.category * {
    display: inline-block;
}
.category .edit {
    background-color: orange;
    color: white;
}
.category .edit:hover {
    background-color: #d78c00;
}
.category .delete {
    background-color: red;
    color: white;
}
.category .delete:hover {
    background-color: #d90000;
}
.category a {
    transition: background-color 0.2s;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 15px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
}
.category h4 {
    margin-top: 20px;
    margin-left: 20px;
}



.dropbtn:hover, .dropbtn:focus {
    background: #2980B9;
}

.MydropDown {
    position: relative;
    display: inline-block;
}


#open-chatbox{
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
.chat-container{
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 3;
}
.chatbox-container{
    position: fixed;
    width: 500px;
    right: 15px;
    bottom: 15px;
    background-color: #eaeaea;
    visibility: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.message{
    margin: 10px;
    max-width: 80%;
    .timestamp{
        font-size: 10px;
        margin-bottom: 2px;
    }
    .content{
        border-radius: 10px;
        font-size: 16px;
        padding: 5px;
        word-wrap: break-word
    }
    &.message-left{
        align-self: start;
        .content{
            text-align: left;
            background-color: #9cd4ff;
        }
        .timestamp{
            text-align: left;
        }
    }
    &.message-right{
        align-self: end;
        .content{
            text-align: right;
            background-color: #f8f8f8;
        }
        .timestamp{
            text-align: right;
        }
    }
    &.message-error{
        .content{
            background-color: #ff7f7f;
        }
    }
}

.chatbox-header{
    padding: 10px 0;
    background-color: #2377bb;
    display: flex;
    align-items: center;
    .title{
        width: 100%;
    }
    .exit-btn{
        position: absolute;
        top: 0;
        right: 0;
    }
}
.chatbox-header button{
    background: none;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    &:hover{
        color: lightgrey;
    }
}
.chatbox-header p{
    font-size: 22px;
    color: white;
    margin: 0;
    text-align: center;
}
.message-container{
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    min-height: 200px;
    overflow: auto;
}

.hidden{
    display: none!important;
}

.chat-error{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendDiv{
    display: flex;
    border-top: 1px solid black;
    input{
        width: 90%;
        font-size: 20px;
        border-radius: 0;
        border: none;
        &:focus{
            outline: none;
        }
    }
    button{
        width: 10%;
        background-color: #0018c4;
        color: white;
        outline: none;
        border: none;
        transition: all 200ms;
        &:hover{
            background-color: #1e33c7;
            color: white;
            cursor: pointer;
        }
    }
}

