.wrapper{
    width: 960px;
    margin: 0 auto;
}


.header{
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    background: #f2f2f2;
    -webkit-box-shadow: 10px 24px 50px -19px rgba(161,161,161,0.5);
    -moz-box-shadow: 10px 24px 50px -19px rgba(161,161,161,0.5);
    box-shadow: 10px 24px 50px -19px rgba(161,161,161,0.5);

}
.header a{
    margin-top: 30px;
}
.gridwrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
}
.form-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 0 0 20px 0;
        label{
            width: 330px;
            font-weight: bold;
            font-size: 1.1rem;
        }
        input, textarea, select{
            border: 2px solid #d1d1d1;
            border-radius: 8px;
            width: 330px;
        }
        input, select{
            height: 27px;
        }
    }
}
.footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: black;
    text-align: center;
    border-top: 2px solid black;
    background: #f2f2f2 ;
}

.page {
    h1 {

        border-bottom: var(--page-color) 2px solid;

    }
}

.page-content {
    h2 {
        border-bottom: var(--page-color) 1px solid;
    }

    a {
        color: var(--page-color);
        text-decoration: underline;
        text-underline: var(--page-color);
        text-underline-offset: 2px;
    }

    pre {
        border-radius: 15px;
        padding: 15px;
        border: var(--page-color) solid 2px;
    }
}

.link {
    a {
        margin: auto 0;
        text-decoration: underline;
    }
    color: blue;
    font-size: 17px;
}

.page-list h4 {
    border: var(--page-color) solid 2px;
    padding: 10px;
    border-radius: 10px;
}

.pages-text {
    margin-top: 50px;
}

.category {
    width: 100%;
    border: #1a202c solid 2px;
    border-radius: 10px;
    margin: 10px;
     * {
         display: inline-block;
     }

    .edit {
        background-color: orange;
        color: white;
        &:hover {
            background-color: #d78c00;
        }
    }

    .delete {
        background-color: red;
        color: white;

        &:hover {
            background-color: #d90000;
        }
    }

    a {
        transition: background-color .2s;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 15px;
        float: right;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;


    }

    h4 {
        margin-left: 20px;
    }

}
