.wrapper-homepage{
    width: 960px;
    margin: 0 auto;
}


.header{
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;

}
.header a{
    margin-top: 30px;
}
.gridwrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
}
