.wrapper {
  width: 960px;
  margin: 0 auto;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  background: #f2f2f2;
  box-shadow: 10px 24px 50px -19px rgba(161, 161, 161, 0.5);
}

.header a {
  margin-top: 30px;
}

.gridwrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
}

