.form-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.form-container .editor-data {
  display: none;
}
.form-container form {
  width: 100%;
}
.form-container .form-group {
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.form-container .form-group label {
  font-size: 15px;
}
.form-container .form-group .form-input {
  width: 100%;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
}
.form-container .form-group .form-textarea {
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-container .form-inline {
  display: flex;
  width: 100%;
}
.form-container .form-inline .form-group {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.form-container .form-inline .form-group .form-input {
  width: 100%;
}
.form-container .full-width {
  width: 100%;
}
.form-container .form-color {
  width: 100px;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px;
  height: 30px;
}
.form-container .form-btn {
  width: 100%;
  background-color: #2a4eff;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #244aff;
  border-radius: 5px;
  transition: all 200ms linear;
  color: white;
}
.form-container .form-btn:hover {
  cursor: pointer;
  background-color: #4161ff;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  background: #f2f2f2;
  box-shadow: 10px 24px 50px -19px rgba(161, 161, 161, 0.5);
}

.header a {
  margin-top: 30px;
}

.gridwrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: black;
  text-align: center;
  border-top: 2px solid black;
  background: #f2f2f2;
}

.page h1 {
  border-bottom: var(--page-color) 2px solid;
}

.page-content h2 {
  border-bottom: var(--page-color) 1px solid;
}
.page-content a {
  color: var(--page-color);
  text-decoration: underline;
  text-underline: var(--page-color);
  text-underline-offset: 2px;
}
.page-content pre {
  border-radius: 15px;
  padding: 15px;
  border: var(--page-color) solid 2px;
}

.link {
  color: blue;
  font-size: 17px;
}
.link a {
  margin: auto 0;
  text-decoration: underline;
}

.page-list h4 {
  border: var(--page-color) solid 2px;
  padding: 10px;
  border-radius: 10px;
}

.pages-text {
  margin-top: 50px;
}

.category {
  width: 100%;
  border: #1a202c solid 2px;
  border-radius: 10px;
  margin: 10px;
}
.category * {
  display: inline-block;
}
.category .edit {
  background-color: orange;
  color: white;
}
.category .edit:hover {
  background-color: #d78c00;
}
.category .delete {
  background-color: red;
  color: white;
}
.category .delete:hover {
  background-color: #d90000;
}
.category a {
  transition: background-color 0.2s;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 15px;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
}
.category h4 {
  margin-left: 20px;
}

